[submodule "libgit2sharp-native/libgit2"]
	path = libgit2sharp-native/libgit2
	url = https://github.com/libgit2/libgit2
[submodule "libgit2sharp-native/libssh2"]
	path = libgit2sharp-native/libssh2
	url = https://github.com/libssh2/libssh2
